.education-page {
    .text-zone {
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    .img {
        align-items: center;
        position: absolute;
        display: block;
    }

    h2 {
        color: #8d8d8d;
        font-weight: 400;
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: 3px;
    }
    .responsive-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    
    .responsive-list li {
        flex: 1 1 100%;
        box-sizing: border-box;
        padding: 0.5rem;
    }

}